<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessorBoostModeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Processor_Boost_Mode_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcessorBoostModeManager.Properties.Settings>
            <setting name="AutostartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="BoostModes" serializeAs="String">
                <value>Disabled,Enabled,Aggressive</value>
            </setting>
            <setting name="UpdateSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BoostModesTest" serializeAs="String">
                <value />
            </setting>
        </ProcessorBoostModeManager.Properties.Settings>
        <Properties.Settings>
            <setting name="WindowsNotificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Properties.Settings>
        <Processor_Boost_Mode_Manager.Properties.Settings>
            <setting name="WindowsNotificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Processor_Boost_Mode_Manager.Properties.Settings>
    </userSettings>
</configuration>